aiohttp==3.7.4.post0
aiohttp-jinja2==1.4.2
aiomcache==0.6.0
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
bump2version==1.0.1
CacheControl==0.12.6
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
coverage==5.5
distlib==0.3.1
distro==1.5.0
Faker==8.1.1
filtrark==0.10.0
graphql-core==3.1.4
greenlet==1.0.0
html5lib==1.1
idna==3.1
iniconfig==1.1.1
injectark==0.6.0
ipaddr==2.2.0
jedi==0.18.0
Jinja2==2.11.3
lockfile==0.12.2
MarkupSafe==1.1.1
modelark==0.3.3
more-itertools==8.7.0
msgpack==1.0.2
multidict==5.1.0
mypy==0.812
mypy-extensions==0.4.3
packaging==20.9
parso==0.8.2
pep517==0.10.0
pip-review==1.1.0
pkg-resources==0.0.0
pluggy==0.13.1
progress==1.5
py==1.10.0
PyJWT==2.1.0
pynvim==0.4.3
pyparsing==2.4.7
pytest==6.2.3
pytest-aiohttp==0.3.0
pytest-asyncio==0.15.1
pytest-cov==2.11.1
python-dateutil==2.8.1
pytoml==0.1.21
requests==2.25.1
retrying==1.3.3
six==1.15.0
text-unidecode==1.3
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.7.4.3
urllib3==1.26.4
uvloop==0.15.2
webencodings==0.5.1
yarl==1.6.3
